

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	margin: 20px;
}

img {
margin: 20px;
width: 180px;
height: 180px;
}














